@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&family=Montserrat&display=swap');

body {
  font-family: Montserrat, sans-serif;
  padding-top: 30px;
  background-color: #eee;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#main {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

#main h1 {
  font-family: Lemonada, sans-serif;
  font-size: 5vw;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

#main p {
  margin: 0;
  font-size: 3vw;
}

#img-div {
  background-color: white;
  padding: 15px; 
}

#image {
  max-width: 100%;
  display: block; 
}

#img-caption {
  margin-top: 10px;
  font-size: 0.7em;
}

#tribute-info {
  margin: 20px auto;
}

#tribute-info p {
  text-align: center;
}

#awards p {
  text-align: center;
}

#awards {
  text-align: center;
}

#footer {
  text-align: center;
  background-color: white;
  padding: 5px 0;
  margin-top: 50px;
}

#footer p {
  color: black;
}

#footer a {
  color: blue;
}